@layer islands.HiApi {
  .pre {
    background-color: black;
    color: gold;
  }

  .wrapFlex {
    block-size: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: baseline;
  }
}